body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

body, html,
h1, h2, h3, h4, h5, h6,
ul, ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  background-color: #000;
}

.wrapper {
  width: 80%;
  min-width: 1000px;
  max-width: 1400px;
  margin: 0 auto;
  box-shadow: 0 0 10px 3px #333;
  min-height: 100%;
  background-color: #0E0E0E;
  padding: 10px 20px;
  box-sizing: border-box;
}

.page-title {
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #1F1F1F;
}

.updates {
  border-left: 4px solid #333;
  padding: 10px 20px;
  margin: 3px 0;

  .site {
    font-weight: bold;
  }
}